<div class="details" *ngFor="let country of interfaceForm">
    <a class="back" [routerLink] = "['/']">
        <fa-icon class="arrow-icon" [icon] = "arrow"></fa-icon>
        Back
    </a>
    <div class="country-details">
        <div class="flag" [style.background-image]="'url(' + country.flags.svg + ')'"></div>
        <div class="countryFacts">
            <div style="display: flex; flex-direction: column;">
                <h2 class="country">{{ country.name.common }}</h2>
                <div style="display: flex; justify-content: space-between; width: 35vw;">
                    <div>
                        <p class="population">Native Name: {{ country.name.nativeName }}</p>
                        <p class="population">Population: {{ country.population }}</p>
                        <p class="region">Region: {{ country.region }}</p>
                        <p class="region">Sub Region: {{ country.subregion }}</p>
                        <p class="capital">Capital: {{ country.capital }}</p>
                    </div>
                    <div>
                        <p class="region">Top Level Domain: {{ country.tld }}</p>
                        <p class="region">Currencies: {{ country.currencies }}</p>
                        <p class="capital">Languages: {{ country.languages }}</p>
                    </div>
                </div>
                <div>
                    <p class="capital">Border Countries: {{ country.borders }}</p>
                </div>
            </div>
        </div>
    </div>
</div>