<div class="details" *ngFor="let country of interfaceForm">
    <a class="back" [routerLink]="['/']">
        <fa-icon class="arrow-icon" [icon]="arrow"></fa-icon>
        Back
    </a>
    <div class="country-details">
        <div class="flag" [style.background-image]="'url(' + country.flags.svg + ')'"></div>
        <div class="countryFacts">
            <div style="display: flex; flex-direction: column;">
                <h2 class="country font-bold text-4xl">{{ country.name.official }}</h2>
                <div class="pop my-16" style="display: flex; justify-content: space-between; width: 35vw;">
                    <div class="pop1">
                        <p class="population my-2 text-lg"><span class="font-semibold">Native Name: </span>{{ getNativeName(country.name.nativeName) }}</p>
                        <p class="population my-2 text-lg"><span class="font-semibold">Population: </span>{{ country.population }}</p>
                        <p class="region my-2 text-lg"><span class="font-semibold">Region: </span>{{ country.region }}</p>
                        <p class="region my-2 text-lg"><span class="font-semibold">Sub Region: </span>{{ country.subregion }}</p>
                        <p class="capital my-2 text-lg"><span class="font-semibold">Capital: </span>{{ country.capital }}</p>
                    </div>
                    <div class="pop2">
                        <p class="region my-2 text-lg"><span class="font-semibold">Top Level Domain: </span>{{ country.tld }}</p>
                        <p class="region my-2 text-lg"><span class="font-semibold">Currencies: </span>{{ getCurrencies(country.currencies) }}</p>
                        <p class="capital my-2 text-lg"><span class="font-semibold">Languages: </span>{{ getLanguages(country.languages) }}
                        </p>
                    </div>
                </div>
                <div class="border">
                    <p class="capital text-lg"><span class="font-medium">Border Countries:</span></p>
                    <ng-container *ngIf="borders && borders.length > 0; else noBorders">
                        <a *ngFor="let borderCountry of borders" [routerLink]="['/details', borderCountry.name.common]">
                            {{ borderCountry.name.common }}
                        </a>
                    </ng-container>
                    <ng-template #noBorders>
                        <p class="capital"><span class="bold">No Border Countries</span></p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>