.cards{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .flag {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
    
    .country-card{
        height:45%;
        width: 20.5%;
        padding: 0;
        margin: 0 0 4% 0;
        border-radius: 10px;
        color: var(--font);
        background-color: var(--card-bg);
        
        .info{
            padding: 0 6%;
        }
    }
}