.cards{
    gap: 70px 30px;
    display: flex;
    flex-wrap: wrap;
}

.country-card{
    height: 60%;
    width: 25%;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    color: var(--font);
    background-color: var(--card-bg);

    .info{
        padding: 0 6%;
    }
}