main{
    width: inherit;
    height: inherit;

    .head{
        color: var(--font);
        width: auto;
        height: 10%;
        padding: 0 4%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        box-shadow: 0 0 5px .1px var(--shadow);
        background-color: var(--head);

        p{
            gap: 10px;
            display: flex;
            align-items: center;

            img{
                width: 20px;
                height: 20px;
            }
        }

        p:hover{
            cursor: pointer;   
        }
    }

    .content{
        margin: 0;
        padding: 0 4%;
        width: inherit;
        height: 100%;
    }
}