<section class="search">
    <form>
        <div class="search-box">
            <fa-icon class="search-icon" [icon]="search"></fa-icon>

            <input class="input" type="text" placeholder="Search for a country…" (input)="filterCountries($event)" />
        </div>
        
        <div class="filter-button" (click)="toggle()">Filter by Region
            <fa-icon class="arrow-icon" [icon]="arrow"></fa-icon>
        </div>

        <div class="drop-down" *ngIf="showFilter">
            <li *ngFor="let region of regions" (click)="filterRegion(region)">{{ region }}</li>
        </div>
    </form>       
</section>

<div class="country-section">
     <app-country *ngFor="let interfaceForm of filteredInterfaceList" [interfaceForm]="interfaceForm"></app-country>
</div>
