<div class="search">
    <form>
        <div class="search-box">
            <fa-icon class="search-icon" [icon]="search"></fa-icon>

            <input class="input" type="text" placeholder="Search for a country…" (input)="filterCountries($event)" />
        </div>
        
        <div class="filter-button" (click)="toggle()">Filter by Region
            <fa-icon class="arrow-icon" [icon]="arrow"></fa-icon>
        </div>

        <div class="drop-down">
            <li (click)="filterRegion()">Africa</li>
            <li (click)="filterRegion()">America</li>
            <li (click)="filterRegion()">Asia</li>
            <li (click)="filterRegion()">Europe</li>
            <li (click)="filterRegion()">Oceania</li>
        </div>
    </form>       
</div>

<div class="country-section">
     <app-country *ngFor="let interfaceForm of filteredInterfaceList" [interfaceForm]="interfaceForm"></app-country>
</div>
