<div class="search">
    <p class="search-box">
        <fa-icon class="search-icon" [icon] = "search"></fa-icon>
        <input class="input" type="text" placeholder="Search for a country…">
    </p>

    <button class="filter-button" (click)="toggle()">Filter by Region
        <fa-icon class="arrow-icon" [icon] = "arrow"></fa-icon>
    </button>

    <div class="drop-down" (click)="toggle()">
        <li>Affrica</li>
        <li>America</li>
        <li>Asia</li>
        <li>Europe</li>
        <li>Oceania</li>
    </div>
</div>

<div class="country-section">
    <app-country></app-country>
</div>

