/* You can add global styles to this file, and also import other style files */
:root {
    --head: #FFFFFF;
    --font: #111517;
    --icon: #848484;
    --card-bg: #FFFFFF;
    --bg-main: #F2F2F2;
    --shadow: #b5b5b5;
    --hover-li: #F2F2F2;
}

.dark {
    --head: #2B3844;
    --font: #FFFFFF;
    --icon: #FFFFFF;
    --card-bg: #2B3844;
    --bg-main: #202C36;
    --shadow: #252a3c;
    --hover-li: #3456;
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
}